.admin-container {
    margin-bottom: 10vh;
}

.admin-leaderboard {
    display: grid;
    text-align: center;
    margin: auto;
    width: 90vw;
}

.admin-leaderboard-header {
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.6fr;
    padding: 10px 0;
}

.admin-leaderboard-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.6fr;
}

.admin-leaderboard-row>div {
    padding: 5px;
    margin: auto;
    text-align: center;
}

.admin-leaderboard-row>input {
    padding: 10px;
    margin: 5px;
    text-align: center;
    border: 0;
    border-radius: 10px;
    background-color: #1f3b7e;
    overflow-wrap: break-word;
}

.admin-leaderboard-row>div>button {
    margin: 5px;
    text-align: center;
}

.logout {
    display: block;
    margin: 15px auto 0;
}

.delete-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #0967e8;
    border-radius: 25px;
    padding: 25px;
    min-width: 30vw;
    width: fit-content;
    text-align: center;
}

.delete-popup>div {
    display: inline;
}

.delete-popup>div>button {
    margin: 0 5px;
}

.delete-popup>div>button:nth-child(even) {
   color: #ff2121; 
}

@media (prefers-color-scheme: light) {
    .admin-leaderboard-row>input {
        background-color: #b1baf7;
    }

    .delete-popup {
        background-color: #778ff0;
    }
}

@media (max-width: 1024px) {
    .admin-leaderboard-row>input {
        width: 75%;
        margin: 5px auto;
    }

    .delete-popup {
        min-width: 60vw;
    }
}
